<% provide :title, t(".title") %>
<h1><%= full_header t(".title") %></h1>
<p>
  <%= raw t(".content.main", rails_toturial: t(".content.rails_toturial"), rails_book: t(".content.rails_book"), screencast: t(".content.screencast"), ruby_on_rails: t(".content.ruby_on_rails")) %>
</p>
