<% provide :title, t(".title") %>
<h1><%= full_header t(".title") %></h1>
<p>
  <%= raw t(".content.main", rails_toturial: link_to(raw("<em>#{t(".content.rails_toturial")}</em>"), Settings.links.rails.root), rails_book: link_to(t(".content.rails_book"), Settings.links.rails.book), screencast: link_to(t(".content.screencast"), Settings.links.screencast), ruby_on_rails: link_to(t(".content.ruby_on_rails"), Settings.links.ruby_on_rails)) %>
</p>
