<% provide :title, t(".title") %>

<h1><%= t ".header" %></h1>

<%= render "form", micropost: @micropost %>

<%= link_to t(".function.edit"), @micropost %> |
<%= link_to t(".function.back"), microposts_path %>
