<% provide :title, t("micropost.new.title") %>
<h1><%= t("micropost.new.header") %></h1>

<%= render "form", micropost: @micropost %>

<%= link_to t("micropost.new.function.back"), microposts_path %>
