<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo"), Settings.layouts.application.logo, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".nav.home"), Settings.layouts.application.nav.home %></li>
        <li><%= link_to t(".nav.help"), Settings.layouts.application.nav.help %></li>
        <li><%= link_to t(".nav.login"), Settings.layouts.application.nav.login %></li>
      </ul>
    </nav>
  </div>
</header>
